<form id="feedback-form">
  <input name="name" placeholder="Name" />

  <textarea
    name="feedback"
    placeholder="Your feedback"
    required
  ></textarea>

  <button type="submit">Send</button>
</form>